.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

@media (min-width: 992px) {
  .container {
    flex-direction: row;
  }
}

.imgContainer {
  position: unset !important;
  padding-right: 1rem;
  padding-bottom: 1rem;
  max-width: 50rem;
  max-height: 50rem;
  overflow: hidden;
}

.imgContainer img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.content {
  max-width: 800px;
}
.content h3 {
  padding-bottom: 0.5rem;
}
