.wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  transition: all 1s ease-in-out;
}

.container {
  height: 100vh;
  background-color: white;
  float: right;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  position: relative;
}

@media (min-width: 600px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 600px) {
  .container {
    width: 100vw;
    text-align: center;
  }
}

.cartTop {
  padding: 40px 10px;
}

.cartMiddle {
  padding: 40px 10px;
}

.cartBottom {
  padding: 40px 10px;
  display: flex;
  justify-content: space-between;
}
