.nav__bar {
  margin: 1rem;
  z-index: 1;
}

.nav__link_item {
  display: flex;
}

.nav__link_item_button {
  color: black;
  text-decoration: none;
  font-size: 40px;
  cursor: pointer;
}

.nav__link_item_button:hover {
  color: #d0fb49;
}

.nav__link_dropdown {
  position: relative;
  display: inline-block;
}

.nav__link_dropdownContent {
  display: none;
  padding-left: 8px;

  z-index: 10;
}

.nav__link_dropdownContent Link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.nav__link_cardContent {
  display: none;
  padding-left: 50px;
  position: absolute;
  left: 300px;

  z-index: 10;
}
.show {
  display: block;
}

.nav__link_items Link {
  text-decoration: none;
}
