.container {
  width: 100%;
  flex-flow: column;
}

.form {
  width: 95%;
  max-width: 40rem;
  box-sizing: border-box;
  margin: 2rem auto;
}

.control {
  margin-bottom: 0.8rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.control input {
  width: 100%;
  outline: none;
  display: block;
  font: inherit;
  border: none;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.268);
  padding: 0.25rem;
}

.control textarea {
  width: 100%;
  outline: none;
  display: block;
  font: inherit;
  border: none;

  border: 1px solid rgba(0, 0, 0, 0.268);
  padding: 0.25rem;
}
.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.actions p {
  font-weight: 700;
  cursor: pointer;
}

.actions p:hover {
  color: #572d60;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #d0fb49;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #defb7e;
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: #defb7e;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #000;
  border: none;
  padding: 0.15rem 1.5rem;
}
